<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Facial Emotion Recognition</title>
    <style>
      video {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transform: scale(-1,1);
        -webkit-transform: scale(-1, 1);     /*for Chrome & Opera (& Safari) */
    }
    canvas{
        position: absolute;
        top: 0;
        left: 0;
        z-index:1
    }
  
    </style>
     <link rel="stylesheet" href="fer/dist/index.css">
  </head>
  <body>
    <div class="c-hero qa-hero">
      <div class="o-vertical-spacing o-vertical-spacing--xl c-hero__inner">
        <div class="c-hero__head">
          <h1 class="c-h1">Facial Emotion Recognition</h1>
          <h6>(Requires camera access)</h6>
          
        </div>
        <div>
          <div >
            <video id="myVideo" autoplay></video>
          </div>
        </div>
      </div>
    </div>
    <script src= '/js/webrtc.js'></script>
    <script id='EmoDetection' src= '/js/Emodetect.js' data-source='myVideo' data-mirror="true" data-uploadWidth="1280"></script>
  </body>
</html>