<!doctype html>
<html lang="en">
  <head>
    <title>Facial Emotion Recognition</title>
    <style>
      video {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transform: scale(-1,1);
        -webkit-transform: scale(-1, 1);     /*for Chrome & Opera (& Safari) */
    }
    canvas{
        position: absolute;
        top: 0;
        left: 0;
        z-index:1
    }
    .container{
      margin: 0 auto;
    }
    </style>

  </head>
  <body>
    <div class='row'>
      <div class="col-md-8 offset-md-2">
      <h5>Facial Emotion Recognition</h5>
      <h6>Requires Camera Access</h6>
    </div>
    </div>
    <div class="md-col-12">
        
            <video id="myVideo" height='640' width= '640' autoplay></video>
         
    </div>
    
    <script src= '/js/webrtc.js'></script>
    <script id='EmoDetection' src= '/js/Emodetect.js' data-source='myVideo' data-mirror="false" data-uploadWidth="640"></script>
  </body>
</html>