<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Hire Prem Oommen </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="static/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="/fevicon.svg">

        <!-- Raleway Google fonts  -->
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,400italic,500,100italic,700' rel='stylesheet' type='text/css'>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">



        <link rel="stylesheet" href=" /css/normalize.css">
        <link rel="stylesheet" href=" /css/fonticons.css">
        <link rel="stylesheet" href=" /css/magnific-popup.css">
        <link rel="stylesheet" href=" /css/font-awesome.min.css">
        <link rel="stylesheet" href=" /css/bootstrap.min.css">
        <link rel="stylesheet" href=" /css/bootstrap.css">

        <!-- For navmenu css -->
        <link rel="stylesheet" href=" /css/navmenu.css" />

        <!--For Plugins external css-->
        <link rel="stylesheet" href=" /css/plugins.css" />

        <!--Theme custom css -->
        <link rel="stylesheet" href=" /css/style.css">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href=" /css/responsive.css" />

        <!--Theme Colors css-->
        <!--<link rel="stylesheet" href=" /css/white.css">-->



        <!--Old browser  JS-->
        <script src=" /js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

    </head>

    <body data-spy="scroll" data-target="#scrollspy">





        <div class="main_figur">

            <div class="preloader">
                <h2>PREM OOMMEN</h2>
                <div class="loaded hexdots-loader">Loading…</div>
            </div><!-- End off Preloader -->



            <div class="container">
                <div class="div-menu">
                    <header class="cd-header">
                        <a href="#home" class="brand-logo text-left"><img class="w-100" src="images/logo.png" alt="" /></a>
                        <a class="cd-menu-trigger" href="#main-nav"><span></span></a>
                    </header>
                </div>

                <nav id="main-nav">
                    <ul>
                        <li><a href="#home">Home</a></li>
                        <li><a href="#about">About Me</a></li>
                        <li><a href="#service">Experience</a></li>
                        <li><a href="#portfolio">Portfolio</a></li>
                        <li><a href="#contactus">Contact</a></li>
                    </ul>
                    <a href="#" class="cd-close-menu">Close<span></span></a>
                </nav>
            </div>



            <!-- Home Section -->
            <section id="home" class="home">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 ">

                            <div class="main_home text-center wow fadeInUp" data-wow-duration="700ms">
                                <h1>Prem Oommen</h1> 
                                <h1>Researcher and Analyst</h1>
                            </div>
                            
                            <div class="scrolldown">
                                <a href="#about"><i class="fa fa-long-arrow-down"></i></a>
                            </div>
                            
                        </div><!-- End of col-md-12 -->
                    </div><!-- End of row -->
                </div><!-- End of Container -->

            </section><!-- End of Home Section -->


            <!-- About Section -->
            <section id="about" class="about">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="main_about_area p-t-3">
                                <div class="head_title m-y-3  wow fadeInUp">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h2>About Me</h2>
                                        </div>
                                        <div class="col-md-8">
                                            <h6 class="m-b-2">An analyst with an eye for detail and the ability to effectively translate business
                                                problems to plausible project action plans by harnessing the power of Bigdata.</h6>
                                            <p>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="about_content center p-b-3 wow fadeInUp" data-wow-duration="700ms">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="single_abt single_about m-y-3">
                                                <i class="fa fa-lightbulb-o"></i>
                                                <h3>Data Scientist</h3>
                                                <p>Experienced in building Machine Learning models using Tensorflow and PyTorch framworks, in deploying them using Flask, Amazon Beanstalk and Sagemaker services.</p>

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="single_abt single_about m-y-3">
                                                <i class="fa fa-line-chart"></i>
                                                <h3>Analyst</h3>
                                                <p>Experienced in finding trends and patterns in data and using them to build captivating visualization dashboards using Tableau.</p>

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="single_abt single_about m-y-3">
                                                <i class="fa fa-newspaper-o"></i>
                                                <h3>Content Writer</h3>
                                                <p>Often share interesting insights from publicly available data and various Machine Learning nuances on open publishing platforms.</p>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <hr />
                        </div><!-- End of col-md-12 -->
                    </div><!-- End of row -->
                </div><!-- End of Container-fluid -->
            </section><!-- End of Home Section -->

            <!-- Portfolio Section -->
            <section id="portfolio" class="portfolio">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main_portfolio_area">
                                <div class="head_title m-y-3 p-y-3 wow fadeInUp">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h2>Portfolio</h2>
                                        </div>
                                        <div class="col-md-8">
                                            <h6>A curated list of some of the tableau dashboards, online articles and Machine Learning models with links to the respective hosts.</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="main_portfolio_content">
                                    <div class="row">
                                        <div class="col-md-5 col-xs-12">
                                            <div class="row">
                                                <div class="col-md-12  col-xs-12">
                                                    <div class="single_portfolio">
                                                        <img src="images/Gamestonk.PNG" alt="" />
                                                        <div class="single_portfolio_overlay">
                                                            <div class="icon_area text-center">
                                                                <a style= 'font-size: 20px'target= "_blank" style="color:black" href="https://public.tableau.com/profile/prem.oommen#!/vizhome/Gamestock/Dashboard2" class='Bottom-left' target='_blank'>Main events leading to the surge in Gamestock's shares.</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12  col-xs-12">
                                                    <div class="single_portfolio">
                                                        <img src=" /images/article1.PNG" alt="" />
                                                        <div class="single_portfolio_overlay">
                                                            <div class="icon_area text-center">
                                                                <a style= 'font-size: 20px' target= "_blank" style="color:black" href="https://thedataoracle.medium.com/a-quick-glance-at-how-australians-consumed-energy-during-the-pandemic-af25dc7b816f">A brief article on Australia's pandemic power consumption.</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12  col-xs-12">
                                                    <div class="single_portfolio">
                                                        <img src=" /images/Electricity demand.PNG" alt="" />
                                                        <div class="single_portfolio_overlay">
                                                            <div class="icon_area text-center">
                                                                <a style= 'font-size: 20px' target= "_blank" style="color:black" href="https://public.tableau.com/profile/prem.oommen#!/vizhome/FuelProduction/Sheet1">Effect of the pandemic on Australia's fuel market.</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="col-md-4  col-xs-12">
                                            <div class="single_portfolio">
                                                <img src=" /images/article2.PNG" alt="" />
                                                <div class="single_portfolio_overlay">
                                                    <div class="icon_area text-center">
                                                        <a style= 'font-size: 20px' target= "_blank"  href="https://thedataoracle.medium.com/deepmind-alphafold-the-protein-folding-problem-a331d9ced746" style="color:white">Unlocking the mysteries of the Universe through Deep Learning</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="single_portfolio height_1">
                                                <img src=" /images/pf22.jpg" alt="" />
                                                <div class="single_portfolio_overlay">
                                                    <div class="icon_area text-center">
                                                        coming soon
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3  col-xs-12">
                                            <div class="single_portfolio height_1">
                                                <img src=" /images/pf31.jpg" alt="" />
                                                <div class="single_portfolio_overlay">
                                                    <div class="icon_area text-center">
                                                        <a style= 'font-size: 30px' href='/FER'>Facial Emotion Recognition</a>
                                                    </div>
                                                </div>
                                            </div> 

                                            <div class="single_portfolio">
                                                <img src=" /images/CHART3.PNG" alt="" />
                                                <div class="single_portfolio_overlay">
                                                    <div class="icon_area text-center">
                                                        <a style= 'font-size: 20px' target= "_blank" href="https://public.tableau.com/profile/prem.oommen#!/vizhome/Assignment3_15704485582240/A3" >Las Vegas hotel evaluation across various seasons of the year</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div><!-- End of main Portfolio area -->
                        </div><!-- End of col-md-12 -->
                    </div><!-- End of row -->
                </div><!-- End of container -->
            </section><!-- End of Tobias Section -->

            <section id="service" class="service colorsbg">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main_service_area">
                                <div class="head_title m-y-3 p-t-3 wow fadeInUp">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h2>Experience</h2>
                                        </div>
                                        <div class="col-md-8">
                                            <h6>Has experience in working in a team under various roles associated with data and analytics and in creating analysis reports
                                                based on insights gathered from data.</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="main_service_content">
                                    <div class="single_service_area m-t-3 p-t-2">
                                        <div class="row">
                                            <div class="col-md-6 no-padding">
                                                <div class="signle_service_left text-sm-center wow fadeInleft">
                                                    <img src=" /images/service1.jpg" alt="" />
                                                </div>
                                            </div>
                                            <div class="col-md-5 col-md-push-1">
                                                <div class="single_service p-r-1 wow fadeInUp">
                                                    <h2 class="m-b-2">research assistant</h2>
                                                    <p>Currently working as a research assistant for a Univeristy project to analyse user's perception of technology using the Technology Acceptance Model.
                                                        Duties and responsibilities includes conducting literature reviews to identify potential analysis plans, designing the research method, 
                                                        assisting in data collection and final analysis.</p>

                                                    </div>
                                            </div>
                                        </div>
                                    </div><!-- End of single service area -->

                                    <div class="single_service_area  m-t-3 p-t-3">
                                        <div class="row">
                                            <div class="col-md-6 col-md-push-6 no-padding">
                                                <div class="signle_service_left text-sm-center wow fadeInRight">
                                                    <img src=" /images/service2.jpg" alt="" />
                                                </div>
                                            </div>

                                            <div class="col-md-5 col-md-pull-6">
                                                <div class="single_service single_service_left_text wow fadeInUp">
                                                    <h2 class="m-b-2">data science intern</h2>
                                                    <p>Has lead a team of 3 while interning as a data scientist at Deakin Launchpad for about 3 months. The aim of the project was to 
                                                        host a web application capable of comparing the performance of reinforcement learning models trained to play the Pac-man. 
                                                        </p>

                                                    <p>Was responsible for updating the supervisor on team's progress, training a sample model and in assisting the team in understanding the nuances about machine learning.</p>

                                                </div>
                                            </div>

                                        </div>
                                    </div><!-- End of single service area -->

                                    <div class="single_service_area m-t-3 p-t-3">
                                        <div class="row">
                                            <div class="col-md-6  no-padding">
                                                <div class="signle_service_left text-sm-center wow fadeInleft">
                                                    <img src=" /images/service3.jpg" alt="" />
                                                </div>
                                            </div>
                                            <div class="col-md-5 col-md-push-1">
                                                <div class="single_service p-r-1 wow fadeInUp">
                                                    <h2 class="m-b-2">data analyst intern</h2>
                                                    <p>Did a short virtual data analyst internship provided by KPMG. The internship involved assessing the data quality and providing suggestions to improve data quality and integrity,
                                                        formulating a data analysis plan to identify potential users to improve customer service and retention, perform a brief analysis through data visualization.
                                                    </p>

                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- End of single service area -->


                                </div><!-- End of main service content -->

                            </div><!-- End of main service area -->
                        </div><!-- End of col-md-12 -->
                    </div><!-- End of row -->
                </div><!-- End of container -->
            </section><!-- End of Service Section -->

        
            <!-- 
            <section id="team" class="team">
                <div class="container">
                    <div class="row">
                        <div class="main_team_area m-t-3">
                            <div class="head_title m-y-3  wow fadeInUp">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h2>Our Team</h2>
                                    </div>
                                    <div class="col-md-8">
                                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                            Integer arcu orci, Fermentum Vel finibus ac, blandit at tortor. 
                                            Sed auctor ex id nulla ultricies laoreet. </h6>
                                    </div>
                                </div>
                            </div>

                            <div class="main_team_content wow fadeInUp">
                                <div class="col-md-3 col-xs-12">
                                    <div class="single_team m-t-2">
                                        <div class="team_socail_area text-center m-b-1">
                                            <a href=""><i class="fa fa-facebook"></i></a>
                                            <a href=""><i class="fa fa-behance"></i></a>
                                            <a href=""><i class="fa fa-dribbble"></i></a>
                                            <a href=""><i class="fa fa-google-plus"></i></a>
                                        </div>
                                        <img src=" /images/team1.jpg" alt="" />
                                        <div class="single_team_text text-center">
                                            <h6>Jack Corfield</h6>
                                            <p>CREATIVE DIRECTOR</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 col-xs-12">
                                    <div class="single_team  m-t-2">
                                        <div class="team_socail_area text-center m-b-1">
                                            <a href=""><i class="fa fa-facebook"></i></a>
                                            <a href=""><i class="fa fa-behance"></i></a>
                                            <a href=""><i class="fa fa-dribbble"></i></a>
                                            <a href=""><i class="fa fa-google-plus"></i></a>
                                        </div>
                                        <img src=" /images/team2.jpg" alt="" />
                                        <div class="single_team_text text-center">
                                            <h6>Mohammad alamin</h6>
                                            <p>creative graphic designer</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 col-xs-12">
                                    <div class="single_team  m-t-2">
                                        <div class="team_socail_area text-center m-b-1">
                                            <a href=""><i class="fa fa-facebook"></i></a>
                                            <a href=""><i class="fa fa-behance"></i></a>
                                            <a href=""><i class="fa fa-dribbble"></i></a>
                                            <a href=""><i class="fa fa-google-plus"></i></a>
                                        </div>
                                        <img src=" /images/team3.jpg" alt="" />
                                        <div class="single_team_text text-center">
                                            <h6>Brock Tardent</h6>
                                            <p>DEVELOPER</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 col-xs-12">
                                    <div class="single_team  m-t-2">
                                        <div class="team_socail_area text-center m-b-1">
                                            <a href=""><i class="fa fa-facebook"></i></a>
                                            <a href=""><i class="fa fa-behance"></i></a>
                                            <a href=""><i class="fa fa-dribbble"></i></a>
                                            <a href=""><i class="fa fa-google-plus"></i></a>
                                        </div>
                                        <img src=" /images/team4.jpg" alt="" />
                                        <div class="single_team_text text-center">
                                            <h6>Brock Roe</h6>
                                            <p>PROJECT MANAGER</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        -->
        

            <!-- Testiomonial Section -->
            <section id="testiomonial" class="testimonial">
                <div class="main_testimonial_area">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="head_title m-y-3 p-t-2  wow fadeInUp">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h2>Recommendations</h2>
                                        </div>
                                        <div class="col-md-8">
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="testimonial_content text-center p-y-3 m-b-3">
                                    <div class="test_slider">
                                        <div class="single_test">
                                            <h3 class="">I had the pleasure to manage and mentor Prem during his internship experience in Deakin Launchpad.
                                                He's determined, self-sufficient, and confident in driving a team towards a goal.
                                                Despite his young age, his mixed technical and leading skills will surely make him the perfect person to lead a team.
                                                As a team member Prem easily earnt my highest respect and my full trust.</h3>  
                                            <p>- Supervisor, Deakin Launchpad</p>
                                        </div>
                                        <div class="single_test">
                                            <h3 class="">I had the pleasure to manage and mentor Prem during his internship experience in Deakin Launchpad.
                                                He's determined, self-sufficient, and confident in driving a team towards a goal.
                                                Despite his young age, his mixed technical and leading skills will surely make him the perfect person to lead a team.
                                                As a team member Prem easily earnt my highest respect and my full trust.</h3>  
                                            <p>- Supervisor, Deakin Launchpad</p>
                                        </div>
                                        <div class="single_test">
                                            <h3 class="">I had the pleasure to manage and mentor Prem during his internship experience in Deakin Launchpad.
                                                He's determined, self-sufficient, and confident in driving a team towards a goal.
                                                Despite his young age, his mixed technical and leading skills will surely make him the perfect person to lead a team.
                                                As a team member Prem easily earnt my highest respect and my full trust.</h3>  
                                            <p>- Supervisor, Deakin Launchpad</p>
                                        </div>

                                    </div>
                                </div>
                            </div> <!-- End off col-md-12 -->
                        </div>
                    </div>
                </div>
            </section> <!-- End of testimonial Section -->


            <section id="blog" class="blog">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main_blog_area m-y-3 p-y-3 wow fadeInUp">
                                <div class="col-md-3">
                                    <div class="single_blog_menu m-t-2">
                                        <h2>Qualifications</h2>
                                        <ul>
                                            <li><i class="fa fa-linkedin-square" aria-hidden="true"></i> <a href="https://www.LinkedIn.com/analystprem" target="_blank"> LinkedIn</a></li>
                                            <li><span class="iconify" data-icon="ion-logo-tableau" data-inline="false"></span> <a href="https://public.tableau.com/profile/prem.oommen#!/" target="_blank"> Tableau</a></li>
                                            <li><i class="fa fa-medium" aria-hidden="true"></i> <a href="https://thedataoracle.medium.com" target="_blank"> Medium</a></li>
                                            
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="single_blog m-t-2">
                                        <div class="single_blog_img">
                                            <h3>Academic</h3>
                                        </div>
                                        <div class="single_blog_text m-t-1">
                                            <h5>Deep Learning Specialization</h5>
                                            <h6 class="font-bold">coursera.org</h6>
                                        </div>
                                        <div class="single_blog_text m-t-1">
                                            <h5>Master's in Data Analytics</h5>
                                            <h6 class="font-bold">Deakin University</h6>
                                        </div>
                                        <div class="single_blog_text m-t-1">
                                            <h5>Bachelor's in Mechanical Engineering</h5>
                                            <h6 class="font-bold">Kerala University</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="single_blog m-t-2">
                                        <div class="single_blog_img">
                                            <h3>Skills</h3>
                                        </div>
                                        <div class="single_blog_text m-t-1">
                                            <h5>Data Wrangling</h5>
                                        </div>
                                        <div class="single_blog_text m-t-1">
                                            <h5>Data Visualization</h5>
                                        </div>
                                        <div class="single_blog_text m-t-1">
                                            <h5>SQL</h5>
                                        </div>
                                        <div class="single_blog_text m-t-1">
                                            <h5>Machine Learning</h5>
                                        </div><div class="single_blog_text m-t-1">
                                            <h5>Statistical Analysis</h5> 
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="single_blog m-t-2">
                                        <div class="single_blog_img">
                                            <h3>Tools</h3>
                                        </div>
                                        <div class="single_blog_text m-t-1">
                                            <h5><span class="iconify" data-icon="ion-logo-tableau" data-inline="false"></span> Tableau</h5>
                                        </div>
                                        <div class="single_blog_text m-t-1">
                                            <h5><span class="iconify" data-icon="cib:git" data-inline="false"></span></i> Git</h5>
                                        </div>
                                        <div class="single_blog_text m-t-1">
                                            <h5><span class="iconify" data-icon="logos:tensorflow" data-inline="false"></span> Tensorflow</h5>
                                        </div>
                                        <div class="single_blog_text m-t-1">
                                            <h5><span class="iconify" data-icon="logos:google-analytics" data-inline="false"></span> Google Analytics</h5>
                                        </div>
                                        <div class="single_blog_text m-t-1">
                                            <h5><span class="iconify" data-icon="logos:aws" data-inline="false"></span></i> AWS</h5>
                                        </div>
                                        <div class="single_blog_text m-t-1">
                                            <h5><span class="iconify" data-icon="emojione:snowflake" data-inline="false"></span></i> Snowflake</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End of container  -->
            </section><!-- End of blog Section -->


            <!-- Contact Section -->
            <section id="contactus" class="contactus colorsbg">
                <div class="container-fluid">
                    <div class="row">
                        <div class="main_service_area main_contactus_area">

                            <div class="row">
                                <div class="col-md-6 no-padding">
                                    <div class="custom-class">
                                      
                                        <img src=" /images/footer.jpg" alt="">
                                      
                                    </div>
                                </div><!-- End of col-md-6 -->


                                <div class="col-md-6 no-padding wow rollIn">
                                    <div class="main_contact_area p-t-2 p-x-3">
                                        <div class="head_title">
                                            <h2>Get in Touch</h2>
                                        </div>
                                        <div class="single_contant_right">
                                            <form name="Form data" id="formid">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" name="Name" placeholder="Your Name..." required="">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" name="Number" placeholder="Phone">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <input type="email" class="form-control" name="Email" placeholder="Your Email Address" required="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <textarea class="form-control" name="Message" rows="8" placeholder="Your Message"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="m-b-2 m-t-2">
                                                        <input type="submit" value="Send message">
                                                    </div>
                                                </div>
                                            </form>

                                        </div>
                                        <!-- Copyright -->
                                        <div class="row">
                                            <div class="main_footer">
                                                <div class="col-md-3">
                                                    <div class="footer_logo text-xs-center m-b-2">
                                                        <a href="#home"><img src=" /images/logo.png" alt="" /></a>
                                                    </div>
                                                </div>

                                                <div class="col-md-8">
                                                    <div class="copyright_text margin-top-20 center">
                                                        <p class=" wow fadeInRight animated" data-wow-duration="1s">Created 
                                                            using <a target="_blank" href="http://bootstrapthemes.co">Bootstrap</a> 2021. All Rights Reserved</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-1 no-padding">
                                                    <div class="scrollup center">
                                                        <a href="#"><i class="fa fa-chevron-up"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- End of row -->
                                    </div><!-- End of main contact area -->

                                </div><!-- End of col-md-6 -->
                            </div>
                        </div>
                    </div><!-- End of row -->
                </div><!-- End of container -->
            </section><!-- End of Contactus Section -->





        </div>
        <script>
            const scriptURL = 'https://script.google.com/macros/s/AKfycbwo9eWPZI_0gV43OsGFjZd6p72dKxvSIYbfjsCcFTJCG5kaoym023QytA/exec'
            const form = document.forms['Form data']

            form.addEventListener('submit', e => {
               e.preventDefault()
                fetch(scriptURL, { method: 'POST', body: new FormData(form)})
                 .then(response => console.log('Success!', response))
                 .catch(error => console.error('Error!', error.message))
                 alert("Message sent! Thank you for getting in touch! In case you have Adblocker, I'd suggest to reach out through my LinkedIn");
            
            document.getElementById("formid").reset();

            
})
            
           
        </script>


        <script src=" /js/vendor/jquery-1.11.2.min.js"></script>
        <script src=" /js/vendor/bootstrap.min.js"></script>

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
        <script src=" /js/jquery.easing.1.3.js"></script>
        <script src=" /js/materialize.js"></script>
        <script src=" /js/jquery.magnific-popup.js"></script>
        <script src="http://maps.google.com/maps/api/js"></script>
        
        <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
        <script src=" /js/plugins.js"></script>
        <script src=" /js/main.js"></script>

    </body>
</html>
