<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>This is Prem Oommen</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/favicon.svg" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-N4CPBR4FC8"></script>
  <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());

     gtag('config', 'G-N4CPBR4FC8');
  </script> 

  <!-- Vendor CSS Files -->
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v3.3.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="/img/Profile.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Prem Oommen</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://thedataoracle.medium.com" class="twitter" target= "_blank" title="Medium"><i class="bx bxl-medium"></i></a>
          <a href="https://stackoverflow.com/users/13265646/prem" target= "_blank" class="facebook" title="Stack Overflow"><i class="bx bxl-stack-overflow"></i></a>
          <a href="https://github.com/wisdomtooth546" target= "_blank" class="instagram" title="GitHub"><i class="bx bxl-github"></i></a>
          <a href="https://public.tableau.com/profile/prem.oommen#!" target= "_blank" class="google-plus"><i class="iconify" data-icon="ion-logo-tableau" data-inline="false" title="Tableau"></i></a>
          <a href="https://www.linkedin.com/in/analystprem/" target= "_blank" class="linkedin" title="LinkedIn"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
          <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Prem Oommen</h1>
      <p><span class="typed" data-typed-items="Data Analyst, Data Scientist, ML Engineer, Researcher, Content Writer"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>A data professional with experience in conducting research, performing BigData warehousing and wrangling operations using SQL/HQL,
             in modelling data through Machine Learning algorithms and in publishing insights and results through reports.
            
          </p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="/img/Profile.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Data Scientist, ML Engineer &amp; Content Writer.</h3>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+61 424 863 914</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Melbourne, VIC</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <!--li><i class="bi bi-chevron-right"></i> <strong>GitHub:</strong> <span>https://github.com/wisdomtooth546</span></li>-->
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>premoommen@hotmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Work Availability:</strong> <span>Permanant, Contract & Freelance.</span></li>
                </ul>
              </div>
            </div>
            <p style="text-align:justify">
              Data Scientist: I can help organizations manage their data efficiently and generate <i>causal inference reports</i> to pinpoint drivers of revenue and identify areas of growth through <i>interactive visualization dashboards</i>. 
              Modelling on <i>Structured, Semi-Structured and Unstructured data</i> stored in Data Warehouses and Data Lakes using <i>ML/DL</i> techniques, I can approximate and forecast events by analyzing patterns in the data while being weary of the <i>black swans</i> lurking.
              <br><br>As an ML Engineer, I can leverage the power of <i>BigData</i> and Cloud Computing to design and develop machine learning and deep learning systems using <i>TensorFlow</i> and <i>PyTorch</i>, run machine learning tests and experiments
              and implement appropriate ML algorithms such as <i>Regression, Decision Trees, Bagging</i> and <i>Boosting techniques</i> and <i>Neural Networks</i>. Models have been deployed in the cloud using <i>Flask, uSWGI, TensorFlow Serving</i> in a Linux environment.<br><br>
              
              Content Writer: I can deliver high-quality SEO optimized print and digital content for businesses and organization providing information as well as research reports, journals and articles.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= 
    <section id="facts" class="facts">
      <div class="container">

        <div class="section-title">
          <h2>Facts</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Happy Clients</strong> consequuntur quae</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Projects</strong> adipisci atque cum quia aut</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Hours Of Support</strong> aut commodi quaerat</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Hard Workers</strong> rerum asperiores dolor</p>
            </div>
          </div>

        </div>

      </div>
    </section>End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <p>The following is a non-exhaustive list of technical skills that I have amassed through various projects, experiences and from the University.</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill">Python<i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Statistical Techniques<i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Tableau <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Database Management - Relational/Distributed <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill">Machine Learning/Deep Learning<i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">TensorFlow <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">AWS Cloud Computing <i class="val">55%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <!--p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>-->
        </div>
        <div class="row">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Research Analyst</h4>
              <h5>Jan, 2021 - Present</h5>
              <p><em>Deakin University, Burwood, VIC.</em></p>
              <ul>
                <li>Research literary works on latest Technology Acceptance Models and structure <b>data analysis</b> operations.</li>
                <li>Gather and analyze data from participants to evaluate user’s perception of biometric technology using <b>SPSS</b> and <b>Tableau.</b></li>
                <li>Set governance frameworks and strategies to manage <b>data warehouse</b> & protect data.</li>
                <li>Develop <b>statistical models</b> and design reports to help a diverse group of stakeholders make informed decisions.</li>
                <b>Key Achievement: </b><i>Learned how to methodically conduct research, organize data collection and compile analytical reports for a non-technical audience.</i>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Content Writer</h4>
              <h5>Jul, 2020 - Present</h5>
              <p><em>Medium Partnership Program, <a href="https://thedataoracle.medium.com/">Medium Profile</a></em></p>
              <ul>
                <li>Published in The Startup: How to prepare video frames for temporal data analysis. <a href="https://medium.com/swlh/building-a-custom-keras-data-generator-to-generate-a-sequence-of-videoframes-for-temporal-analysis-e364e9b70eb"><i>Article</i></a></li>
                <li>Analytical report: Brief insight into how Australians consumed energy during the pandemic. <a href="https://thedataoracle.medium.com/a-quick-glance-at-how-australians-consumed-energy-during-the-pandemic-af25dc7b816f"><i>Article</i></a></li>
                <li>Published in Towards Data Science: ResNets – Residual Blocks & Deep Residual Learning. <a href="https://towardsdatascience.com/resnets-residual-blocks-deep-residual-learning-a231a0ee73d2"><i>Article</i></a></li>
                <li>Published in Towards Data Science: DeepMind, AlphaFold and the Protein Folding Problem. <a href="https://towardsdatascience.com/deepmind-alphafold-the-protein-folding-problem-a331d9ced746"><i>Article</i></a></li>
                <b>Key Achievement: </b><i>Honed researching and reporting skills and mastered how to articulate information in a structured manner.</i>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Data Science Intern</h4>
              <h5>Feb, 2020 - Jun, 2020</h5>
              <p><em>Deakin Launchpad, Burwood, VIC.</em></p>
              <ul>
                <li>Trained & deployed <b>Reinforcement Learning agent</b> in <b>Python</b> to play Pacman. <a href="https://github.com/wisdomtooth546/Pacman_DQN" target="_blank"><i>Code Repository</i></a></li>
                <li>Managed a diverse team of 3 and liaised with internal and external stakeholders.</li>
                <li>Developed and maintained professional documentation and reports throughout the project.</li>
                <li>Organized and conducted daily sprints to evaluate the deliverables using the Agile framework.</li>
                <b>Key Achievement: </b><i>Obtained hands-on experience in training a reinforcement State-Action-Reward model using DL and provided exposure to a team environment.</i>
              </ul>
            </div>
          </div>
          
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Project Experience</h3>
            <div class="resume-item">
              <h4>Machine Learning</h4>
              <ul>
                <li><b><i>Computer Vision: </i></b>Facial Emotion Recognition based on ResNet-50 architecture, trained and deployed using TensorFlow, Flask, WebRTC and Docker.</li>
                <li>Music Genre Classification using <b>Convolutional Neural Networks (CNN)</b> in Python using TensorFlow. <i><a href="https://github.com/wisdomtooth546/Project_Audio" target="_blank">Code Repository.</a></i></li>
                <li>Hate Speech Detection from Tweets using <b>Natural Language Processing (NLP)</b> and Twitter AP. <i><a href="https://github.com/wisdomtooth546/Hate-speec_detection" target="_blank">Code Repository.</a></i></li>
                <li>Training an ML model to detect fraudulent Credit Card transactions using imbalanced data. <a href="https://github.com/wisdomtooth546/Fraud_Detection" target="_blank">Code Repository.</a></li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>SQL Data Management</h4>
              <ul>
                <li>Performed data ETL operations using <i>Structured and Semi-Structured data</i> in <b>Snowflake.</b></li>
                <li>Automated data ETL and generated tables using <b>AWS Glue</b> and <b>Crawlers.</b></li>
                <li>Analyzed and visualized data hosted in the cloud using <b>AWS Athena</b> and <b>QuickSight</b> respectively</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Tableau Dashboards</h4>
              <ul>
                <li>An overview of the events that lead to the Gamespot’s stock surge in Jan, 21. <i><a href="https://public.tableau.com/app/profile/prem.oommen/viz/Gamespot/Dashboard2">Dashboard.</a></i></li>
                <li><b>Quantium Virtual Internship</b>: Drivers of chip sales across different supermarkets. <a href="https://public.tableau.com/app/profile/prem.oommen/viz/Book3_16197486206180/SalesAcrossStores"><i>Dashboard. </i></a><a href="https://github.com/wisdomtooth546/Quantium"><i>Code Repository.</i></a></li>
                <li>Changes in the sale of petroleum fuel products in Australia during first lockdown (Public data). <a href="https://public.tableau.com/app/profile/prem.oommen/viz/FuelProduction/Sheet1"><i>Viz Sheet.</i></a></li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Master of Data Analytics</h4>
              <h5>2018 - 2020</h5>
              <p><em>Deakin University, Burwood, VIC.</em></p>
              <p>Graduated in Oct, 2020 with Distinction.</p>
            </div>
            <div class="resume-item">
              <h4>Bachelor of Technology: Mechanical Engineering</h4>
              <h5>2013 - 2017</h5>
              <p><em>University of Kerala, India</em></p>
              <p>Graduated in March, 2017 with High Distinction.</p>
            </div>
          </div>
          
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>A curated list of some of the personal projects, tableau dashboards, online articles and live Machine Learning models with links to the respective hosts.</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Tableau Dashboards</li>
              <li data-filter=".filter-card">Articles</li>
              <li data-filter=".filter-web">Live models</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/img/portfolio/portfolio-1.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="/img/portfolio/portfolio-1.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Key events that lead to Gamestock stock surge."><i class="bx bx-plus"></i></a>
                <a href="https://public.tableau.com/app/profile/prem.oommen/viz/Gamespot/Dashboard2" title="More Details" target="_blank"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/img/portfolio/portfolio-3.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="/img/portfolio/portfolio-3.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Chip sales made by a major supermarket across various cutomer segments."><i class="bx bx-plus"></i></a>
                <a href="https://public.tableau.com/app/profile/prem.oommen/viz/Book3_16197486206180/SalesAcrossStores" target = "_blank" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="/img/portfolio/portfolio-4.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="/img/portfolio/portfolio-4.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="How DL is pushing boundaries in Health Care"><i class="bx bx-plus"></i></a>
                <a href="https://towardsdatascience.com/deepmind-alphafold-the-protein-folding-problem-a331d9ced746" target = "_blank" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/img/portfolio/portfolio-6.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="/img/portfolio/portfolio-6.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Race Chart - Covid cases reported per week across Australia."><i class="bx bx-plus"></i></a>
                <a href="https://public.tableau.com/app/profile/prem.oommen/viz/CovidcasesreportedacrossAustralia-RaceChart/Dashboard1 target = "_blank" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="/img/portfolio/portfolio-7.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="/img/portfolio/portfolio-7.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Residual Blocks and ResNets in Deep Learning."><i class="bx bx-plus"></i></a>
                <a href="https://towardsdatascience.com/resnets-residual-blocks-deep-residual-learning-a231a0ee73d2" title="Link to Article"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="/img/portfolio/portfolio-8.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="/img/portfolio/portfolio-8.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Preparing video frames for temporal analysis."><i class="bx bx-plus"></i></a>
                <a href="https://medium.com/swlh/building-a-custom-keras-data-generator-to-generate-a-sequence-of-videoframes-for-temporal-analysis-e364e9b70eb" target = "_blank" title="Link to Article"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/img/portfolio/portfolio-9.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="/img/portfolio/portfolio-9.png" target = "_blank" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Facial Emotion Recognition. Click for Live Model."><i class="bx bx-plus"></i></a>
                <a href="/emotion-recognition" title="Link to model"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <p>I offer the following list of services:</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="title">Causal Inference Reporting</h4>
            <p class="description">I can use my analytical and data modelling skills to find answers to business questions and provide evidences of causality between events from data to study and identify drivers of revenue and areas of growth.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-card-checklist"></i></div>
            <h4 class="title">Data Wrangling</h4>
            <p class="description">Leveraging my SQL/HQL skills to sanitize and prepare data through ETL operations in both Relational anad Distributed file systems. I can further automate the process using cloud services such as <b>AWS Glue</b> and <b>AWS Athena</b> </p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-bar-chart"></i></div>
            <h4 class="title">Interactive Visualization Dashboarding</h4>
            <p class="description">Using my certified <b>Tableau</b> skills, I can connect to data in silos, warehouses and in the cloud such as S3 and build interactive dashboards to help data narrate its story.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-binoculars"></i></div>
            <h4 class="title">Descriptive Data Modelling</h4>
            <p class="description">Through descriptive models, I can help organizations understand their business better, specify drivers of revenues, areas of weaknesses and strongholds, and recommend performance improvement measures.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bi bi-brightness-high"></i></div>
            <h4 class="title">Predictive Data Modelling</h4>
            <p class="description">Modelling on Structured, Semi-Structured and Unstructured data stored in Data Warehouses and Data Lakes using ML/DL techniques, I can approximate outcomes by analyzing patterns in the data while being weary of the <i>black swans</i> lurking.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
            <div class="icon"><i class="bi bi-calendar4-week"></i></div>
            <h4 class="title">Content Writing</h4>
            <p class="description">Employing my reseraching and reporting skills, I can deliver high-quality SEO optimized print and digital content for companies that provides information or showcases the products or services they offer. </p>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->
    

    <!-- ======= Testimonials Section ======= 
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
              </div>
            </div><!-- End testimonial item 

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
              </div>
            </div><!-- End testimonial item 

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
              </div>
            </div><!-- End testimonial item 

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
              </div>
            </div><!-- End testimonial item 

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
              </div>
            </div><!-- End testimonial item 

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->
    
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Feel free to contact me using any of the following details or fill in your details using the contact form provided and I will reach out to you as soon as possible. </p>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bx bxl-linkedin"></i>
                <h4>LinkedIn:</h4>
                <p><a href="https://www.linkedin.com/in/analystprem/" target= "_blank" >analystprem</a></p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>premoommen@hotmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+61 424 863 914</p>
              </div>

              
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form id = "formid" role="form" name="submit-to-google-sheet" class="php-email-form-me">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="Name" class="form-control" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="Email"required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="Subject"  required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="Message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message" name="outcome">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>iPortfolio</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <!-- Form Data Capture-->
  <script>
    const scriptURL = 'https://script.google.com/macros/s/AKfycbzTbMGEOlU2ov2Lphi9gLqinDiUO6OrWSsYmVRYeSHq5EDNkLDqDvhQJKLHOye29L4/exec'
    const form = document.forms['submit-to-google-sheet']
  
    form.addEventListener('submit', e => {
      e.preventDefault()
      fetch(scriptURL, { method: 'POST', body: new FormData(form)})
        .then(response => console.log('Success!', response))
        .catch(error => console.error('Error!', error.message))
        alert("Message sent! Thank you for getting in touch! I would also suggest you to connect on LinkedIn.");
        document.getElementById("formid").reset();
    })

  </script>
  

  <!-- Vendor JS Files -->
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>
  <script src="/vendor/purecounter/purecounter.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor/typed.js/typed.min.js"></script>
  <script src="/vendor/waypoints/noframework.waypoints.js"></script>
  

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html>